footer a {
    color: black;
    text-decoration: underline;
}

small {
    color: #8F8A8C;
}

td {
    padding: 15px;
}

.header {
    background-color: #16A085;
    color: white;
}

.sidebar {
    background-color: #34495E;
    border: none;
}

.sidebar > ul > li > a {
    color: white;
}

/*.sidebar > ul > li.active > a {
    background-color: #2C3E50;
}*/

#meshwork-content-container {
    padding: 30px;
}

#throbber-loader-container {
    padding: 10px 0;
}

.input-container {
    color: black;
}

.vertex {
    border-bottom: solid #ededed 1px;
    padding-bottom: 15px;
}

