.header {
    background-color: #16A085;
    color: white;
}

#meshwork-content-container {
    padding: 30px;
}

#throbber-loader-container {
    padding: 10px 0;
}

.input-container {
    color: black;
}

.vertex {
    border-bottom: solid #ededed 1px;
    padding-bottom: 15px;
}